name: Documentation
on:
  push:
    branches:
      - develop
      - main
      - pwx-refactor-zensical      
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install zensical
      - name: Build Rev5
        working-directory: tools/site
        run: zensical build --config-file zensical-rev5.toml --clean
      - name: Build 20x
        working-directory: tools/site
        run: zensical build --config-file zensical-20x.toml --clean          
      - uses: actions/upload-pages-artifact@v4
        with:
          path: tools/static/html
      - uses: actions/deploy-pages@v4
